/* Stylings for the home page */

.stock {
  padding: 2rem;
  background: var(--subBlue);
}

.body_content .body_content_header {
  color: var(--mainWhite);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  font-family: var(--secondFont);
  text-align: center;
  padding: 0 0 2rem;
}

.body_content ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.stock_lists {
  /* background: red; */
  max-width: 60rem;
  margin: 0 auto;
}

.stock_list {
  list-style-type: none;
  padding: 0.5rem;
}

.stock_list a {
  color: var(--gray);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s;
}

.stock_list a:hover {
  color: var(--orange);
}

.home_content {
  padding: 2rem 0 3rem;
  margin: 0 auto;
}

.header_one {
  text-align: center;
}

.home_all {
  /* background: #000; */
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1024px;
  margin: 0 auto;
}

.service_box {
  width: 30rem;
  height: 20rem;
  background: var(--gray);
  margin: 1rem 1rem 1rem;
  border-bottom: 0.01rem solid #000;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 4px #000;
  transition: 3s;
}

.service_box img {
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.service_name {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
}

.stakeholders {
  padding: 6rem 0;
}

.stakeholders_header {
  text-align: center;
  padding: 2rem 0;
  text-decoration: underline var(--subBlue);
}

.stakeholders_all {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* background: var(--mainBlack); */
}

.stakeholders_box {
  width: 19rem;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0.5rem;
  padding-bottom: 2rem;
  background: var(--gray);
  box-shadow: 0 0 3px #000;
}

.stakeholders_box img {
  width: 100%;
  height: 17rem;
}

.stakeholders_box a {
  text-decoration: none;
}

.stakeholder_name {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: var(--mainRed);
}

.stakeholder_title,
.stakeholder_gmail {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.9rem;
}

.stakeholder_title {
  color: var(--subBlue);
}

.stakeholder_gmail {
  color: var(--navy);
}

@media screen and (max-width: 60rem) {
  .stock_lists {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .home_all {
    justify-content: space-around;
    width: 100%;
  }

  .stakeholders_all {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
